div{
    box-sizing: border-box;
    box-shadow: 4px 30px 60px 20px darkblue;
    background-color:black;
    width: 500px;
    height: 500px;
    position:relative;
    left: 450px;
    top: 100px;
    color: whitesmoke;
    text-align: center;
    

}