/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px;
    background-color: rgb(143, 119, 86);

    font-family:'Courier New', Courier, monospace;

}